
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 145px 60px;
  text-align: center;
}

.hero-subtitle {
  color: var(--dark-orange);
  font-family: var(--ff-shadows-into-light);
  font-size: var(--fs-2);
  letter-spacing: 1px;
  margin-block-end: 25px;
}

.hero-title {
  color: var(--champagne-pink);
  font-size: var(--fs-1);
  max-width: 30ch;
}

.hero-text {
  color: var(--desert-sand);
  margin-block: 15px 30px;
  max-width: 44ch;
  margin-inline: auto;
}

/* Sección de Promociones */
.promotions {
  padding: 50px 10px;
  background-color: transparent; /* Fondo transparente para seguir con el fondo de la página */
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: var(--desert-sand);
  margin-top: 30px;
  margin-bottom: 40px;
}

.promo-grid {
  display: flex;
  flex-wrap: nowrap; /* Asegura que los elementos no se envuelvan */
  gap: 30px;
  justify-content: center;
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.promo-item {
  background-color: transparent;
  padding: 20px 20px;
  overflow: hidden;
  width: 300px; /* Ajusta el ancho para que se alineen correctamente */
  text-align: center;
  transition: transform 0.3s ease;
}

.promo-item:hover {
  transform: scale(1.1) ;
}

.promo-img {
  width: 90%;
  height: auto;
  display: block;
}
