/* Estilo para la sección Hero */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 145px 60px;
  text-align: center;
}

.hero-subtitle {
  color: var(--dark-orange);
  font-family: var(--ff-shadows-into-light);
  font-size: var(--fs-2);
  letter-spacing: 1px;
  margin-block-end: 25px;
}

.hero-title {
  color: var(--champagne-pink);
  font-size: var(--fs-1);
  max-width: 30ch;
}

.hero-text {
  color: var(--desert-sand);
  margin-block: 15px 30px;
  max-width: 44ch;
  margin-inline: auto;
}

/* Sección de Promociones */
.promotions {
  padding: 50px 10px;
  background-color: transparent; /* Fondo transparente para seguir con el fondo de la página */
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: var(--desert-sand);
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Contenedor principal del carrusel */
.promo-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  overflow: hidden; /* Oculta las imágenes fuera del contenedor */
  position: relative;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Elementos del carrusel */
.promo-item {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 350px; /* Tamaño fijo para mantener consistencia */
  flex-shrink: 0; /* Evita que los elementos se reduzcan */
}

/* Efecto de hover para las imágenes */
.promo-item:hover {
  transform: scale(1.0);
}

/* Estilo de las imágenes */
.promo-img {
  width: 90%;
  height: 95%;
  display: block;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.promo-img:hover {
  transform: scale(1.05);
}

/* Animación del carrusel: Desplazamiento horizontal automático */
.promo-grid {
  animation: scroll-left 15s linear infinite;
}

